In [1]:
import pandas as pd
import numpy as np
from surprise import Reader, Dataset, SVD, SVDpp, NMF, SlopeOne, KNNBasic, KNNBaseline, KNNWithMeans, KNNWithZScore, CoClustering, BaselineOnly
from surprise.model_selection.validation import cross_validate

In [2]:
from surprise import accuracy
from surprise.model_selection import KFold

## Provided data

In [ ]:
df = pd.read_csv('data/ReviewClean.csv', index_col=0)

In [ ]:
df.head()

   customer_id  product_id  rating
0       709310    10001012       3
1     10701688    10001012       5
2     11763074    10001012       5
3      9909549    10001012       5
4      1827148    10001012       5

In [ ]:
df.shape

(359540, 3)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 359540 entries, 0 to 359539
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   customer_id  359540 non-null  int64
 1   product_id   359540 non-null  int64
 2   rating       359540 non-null  int64
dtypes: int64(3)
memory usage: 11.0 MB

In [ ]:
n_rating = len(df)
n_product = len(df.product_id.unique())
n_customer = len(df.customer_id.unique())
print(n_rating, n_product, n_customer)

359540 4211 251146

In [ ]:
reader = Reader()
data = Dataset.load_from_df(df[['customer_id', 'product_id', 'rating']], reader)

In [ ]:
algos = [SVD(), SVDpp(), NMF(), SlopeOne(), CoClustering(), BaselineOnly()]

names = []
results = []
for algo in algos:
    results.append(cross_validate(algo, data, measures=['RMSE','MSE'],cv=5, verbose=True))
    names.append(algo.__class__.__name__)

Evaluating RMSE, MSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9763  0.9764  0.9696  0.9737  0.9810  0.9754  0.0037
MSE (testset)     0.9531  0.9534  0.9402  0.9482  0.9624  0.9515  0.0073
Fit time          9.27    9.04    9.14    9.16    9.07    9.13    0.08
Test time         0.31    0.21    0.22    0.31    0.21    0.25    0.05
Evaluating RMSE, MSE of algorithm SVDpp on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9895  0.9914  0.9792  0.9870  0.9899  0.9874  0.0043
MSE (testset)     0.9792  0.9829  0.9588  0.9741  0.9800  0.9750  0.0086
Fit time          14.80   15.01   14.82   15.03   15.16   14.96   0.14
Test time         0.48    0.47    0.35    0.35    0.35    0.40    0.06
Evaluating RMSE, MSE of algorithm NMF on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.1212  1.1210  1.1309  1.1218  1.1289  1.1247  0.0042
MSE (testset)     1.2571  1.2566  1.2788  1.2584  1.2744  1.2651  0.0096
Fit time          19.75   19.63   19.95   19.67   19.82   19.76   0.12
Test time         0.21    0.21    0.40    0.21    0.21    0.25    0.07
Evaluating RMSE, MSE of algorithm SlopeOne on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.0804  1.0753  1.0835  1.0799  1.0751  1.0788  0.0032
MSE (testset)     1.1673  1.1563  1.1740  1.1663  1.1557  1.1639  0.0070
Fit time          1.00    1.05    1.05    1.05    1.05    1.04    0.02
Test time         0.54    0.52    0.30    0.53    0.30    0.44    0.12
Evaluating RMSE, MSE of algorithm CoClustering on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.0496  1.0658  1.0454  1.1146  1.0599  1.0671  0.0249
MSE (testset)     1.1018  1.1358  1.0929  1.2424  1.1233  1.1392  0.0538
Fit time          11.28   11.21   11.44   11.25   11.29   11.29   0.08
Test time         0.18    0.18    0.47    0.45    0.18    0.29    0.14
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Evaluating RMSE, MSE of algorithm BaselineOnly on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9739  0.9718  0.9655  0.9710  0.9731  0.9711  0.0030
MSE (testset)     0.9486  0.9444  0.9322  0.9429  0.9470  0.9430  0.0058
Fit time          0.78    0.80    0.83    0.83    0.81    0.81    0.02
Test time         0.18    0.18    0.18    0.50    0.18    0.24    0.13

BaselineOnly, SVD và SVDpp cho kết quả thấp nhất trong các thuật toán tuy nhiên BaselineOnly có tốc độ nhanh hơn hẳn 2 thuật toán còn lại, nên ta sẽ lựa chọn thuật toán này để xây dựng Recommendation System - Collaborative Filtering

## NewData: scraping data

In [3]:
df = pd.read_csv('data/ReviewClean_scraping.csv', index_col=0)

In [4]:
df.shape

(7172, 3)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7172 entries, 0 to 7171
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  7172 non-null   int64
 1   product_id   7172 non-null   float64
 2   rating       7172 non-null   int64
dtypes: float64(1), int64(2)
memory usage: 224.1 KB

In [6]:
df.head()

   customer_id  product_id  rating
0         5546  72748642.0       5
1         5875  72748642.0       5
2          188  72748642.0       5
3         4568  72748642.0       5
4         4155  72748642.0       5

In [7]:
reader = Reader()
data = Dataset.load_from_df(df[['customer_id', 'product_id', 'rating']], reader)

In [8]:
algos = [SVD(), SVDpp(), NMF(), SlopeOne(), CoClustering(), BaselineOnly()]

names = []
results = []
for algo in algos:
    results.append(cross_validate(algo, data, measures=['RMSE','MSE'],cv=5, verbose=True))
    names.append(algo.__class__.__name__)

Evaluating RMSE, MSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8636  0.8516  0.9148  0.8623  0.8714  0.8727  0.0219
MSE (testset)     0.7459  0.7253  0.8368  0.7435  0.7593  0.7621  0.0389
Fit time          0.19    0.16    0.16    0.16    0.16    0.17    0.01
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
Evaluating RMSE, MSE of algorithm SVDpp on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8375  0.9281  0.8469  0.9076  0.8475  0.8735  0.0370
MSE (testset)     0.7014  0.8615  0.7172  0.8237  0.7183  0.7644  0.0652
Fit time          0.24    0.25    0.24    0.24    0.24    0.24    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
Evaluating RMSE, MSE of algorithm NMF on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9724  0.9915  0.9235  0.9781  1.0218  0.9774  0.0319
MSE (testset)     0.9455  0.9830  0.8529  0.9567  1.0440  0.9564  0.0620
Fit time          0.39    0.39    0.38    0.38    0.39    0.39    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
Evaluating RMSE, MSE of algorithm SlopeOne on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9542  0.9517  0.9533  0.9210  0.9659  0.9492  0.0150
MSE (testset)     0.9106  0.9057  0.9088  0.8483  0.9329  0.9012  0.0282
Fit time          0.02    0.02    0.02    0.02    0.02    0.02    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
Evaluating RMSE, MSE of algorithm CoClustering on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9484  0.9079  0.9459  0.9777  0.9314  0.9423  0.0228
MSE (testset)     0.8996  0.8243  0.8947  0.9559  0.8676  0.8884  0.0430
Fit time          0.31    0.22    0.21    0.22    0.23    0.24    0.04
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Evaluating RMSE, MSE of algorithm BaselineOnly on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9096  0.8092  0.8737  0.8836  0.8781  0.8708  0.0332
MSE (testset)     0.8273  0.6548  0.7634  0.7808  0.7710  0.7595  0.0569
Fit time          0.01    0.01    0.01    0.01    0.01    0.01    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00

BaselineOnly, SVD và SVDpp cho kết quả thấp nhất trong các thuật toán tuy nhiên BaselineOnly có tốc độ nhanh hơn hẳn 2 thuật toán còn lại, nên ta sẽ lựa chọn thuật toán này để xây dựng Recommendation System - Collaborative Filtering